@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.o {
    width: 20px;
}
html, body{height: 100%;}

.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    background: black;
    overflow-x: hidden;
}
.sidebar-wraper{
    padding-bottom: 200px;
}
.sidebar-menu{
    margin: 20px, 0;
    color: rgb(190, 190, 190);
}
.sidebar-logo img{
   width:100%;
   max-width: 250px;
}
.sidebar-menu a{
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.sidebar-menu i{
    margin: 0 20px;
}
.sidebar-menu-selecionado{
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}
.sidebar-menu-item{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}
.sidebar-menu p.sidebar-menu-title{
     color: white;
     text-transform: uppercase;
     font-size: 12px;
}
.sidebar-menu-item-componente{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white;
}
.sidebar-menu-item span{
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
}
.sidebar-menu-playlist       {
    padding: 20px;
    border-top: 1px, solid rgb(40, 40, 40);
}
.sidebar-playlist a{
    margin: 10px, 0;
    display: block;
    color: rgb(190, 190, 190);
    text-decoration: none;
}
.sidebar-menu-playlist a:hover{
    color:  white;
}
.main{
    width:calc(100% - 250px);
    background-color: rgb(30, 30, 30);
    height: 100%;
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
    
}
.main-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.main-wraper{
    padding-bottom: 200px;
}
.main-row-title{
    width: 100%;
}
.main-row-title h2{
    color: white;
}
.main-col{
    cursor: pointer;
    width: 24%;
    margin-right: 8px;
    margin-top: 20px;
    background-color: #282828;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.player{
    width: 100%;
    padding: 20px;
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgb(60, 60, 60);
}
.player-artist{
    width: 20%;
}
.player-artist img{
    max-width: 70px;
    display: inline-block;
    vertical-align: middle;
}
